body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pointer {
  cursor: pointer;
}

.btn-purple {
  background-color: purple;
  letter-spacing: 0.1rem;
}

.btn-purple:hover {
  filter: brightness(1.2);
}

.forgot-text {
  color: purple;
  font-size: 0.9rem;
}

.forgot-text:hover {
  filter: brightness(1.2);
}

.pwd-icon {
  color: purple;
  bottom: 25%;
  right: 5%;
}

.pwd-icon:hover {
  filter: brightness(1.2);
}

.form-control {
  letter-spacing: 0.1rem !important;
  color: purple !important;
}

.logo-img {
  height: 8.5rem;
}

.mt-opposite {
  margin-top: -7.5rem;
}

.form-container-lavender {
  background-color: lavender;
  width: 25rem;
}

label {
  letter-spacing: 0.1rem;
  color: purple;
}
